@model MvcStokk.Models.Entitiy.Urun
@{
    ViewBag.Title = "YeniUrunEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Ürün Adı</label>
        <input type="text" class="form-control" name="UrunAdi" required="" maxlength="30" />
    </div>
    <div>
        <label>Marka</label>
        <input type="text" class="form-control" name="Marka" required="" />
    </div>
    <div>
        <label>Kategori Seçiniz:</label>
     @Html.DropDownListFor(m => m.Kategori.KategoriID, (List<SelectListItem>)ViewBag.dgr, new{@class="form-control" })
    </div>
    <div>
        <label>Fiyatı</label>
        <input type="text" class="form-control" name="Fiyat" required="" />
    </div>
    <div>
        <label>Stok Adeti</label>
        <input type="text" class="form-control" name="Stok" required="" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Ürün Ekle</button>
    </div>
</form>