@using MvcStokk.Models.Entitiy;
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<Kategori>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Kategori ID</th>
        <th>Kategori Adı</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    <tbody>
        @foreach (var kategori in Model)
        {
            <tr>
                <td>@kategori.KategoriID</td>
                <td>@kategori.KategoriAdi</td>
                <td><a href="/Kategori/SIL/@kategori.KategoriID" class="btn btn-danger">SİL</a></td>
                <td><a href="/Kategori/KategoriGetir/@kategori.KategoriID" class="btn btn-success">GÜNCELLE</a></td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))
 <a href="/Kategori/YeniKategori/" class="btn btn-primary">YENİ KATEGORİ EKLE</a>